*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

table {
    /* border-top: 100px; */
    width: 320px;
    height: 400px;
    background-color: black;
    /* border-collapse: collapse; */
    border-radius: 30px;
  }
  
  td {
    width: 75px;
    height: 75px;
    border: 1px solid /*#383838*/ black;
    background-color: black;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    color: #333;
    background-color: black;
  }
  .caixaTexto{
    background-color: #333;
    color: #333;
  }

  .botaoSuperior{
    font-size: larger;
    color: #fff;
    border: 1px gray;
    background-color: rgb(88, 88, 88);
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
  .botaoSuperior:hover{
    background-color: rgb(94, 94, 94);
  }

  .botaoOperacoes{
    font-size: larger;
    background-color: rgb(252, 149, 14);
    color: #fff;
    width: 60px;
    height: 60px;
    border: 1px orange;
    border-radius: 30px;
  }
  .botaoOperacoes:hover{
    background-color:orange ;
  }
  .botaoNumero{
    font-size: larger;
    border: 1px #333;
    color: #fff;
    background-color: #333;
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
  .botaoNumero:hover{
    background-color: rgb(63, 63, 63);
  }
  img{
    border-top: 0px;
    color: #fff;
    width: 30px;
    height: 30px;
  }

  tr{
    background-color: black;
    border: 1px solid #333;
  }
  
  /* td:hover {
    background-color: #383838;
    border: 1px solid black;
  } */
  .caixaTexto{
    /* border-top: 10px; */
    width: 60px;
  }
  #resultado {
    width: 100%;
    height: 70px;
    text-align: right;
    font-size: 36px;
    color: #333;
    background-color: #333;
    border: 5px black;
    border-radius: 100px;
    padding: 10px;
  }
  